
@{
    ViewData["Title"] = "Home";
}
<div class="page-header">
    <h1>Welcome to IoT Platform!<small> An industry 4.0 simulation demo site</small></h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="thumbnail">
            <img src="images/IoT_Home.svg" alt="Industry 4.0">
            <div class="caption">
                <h3>Instructions</h3>
                <p>Please register a deivce to get an unique identifier first, and then use this identifier to send readings to this platform!</p>
                <p>Have fun!</p>
            </div>
        </div>
    </div>
</div>

