@model IEnumerable<DeviceModel>


@{
    ViewBag.Title = "Registered Devices";
    Layout = "_Layout";
}

<h2>Registered Devices</h2>
@if (Model == null || !Model.Any())
{
    <div class="alert alert-info" role="alert">Currently there is no devices registered here on this platform yet.</div>
}
else
{
    <div class="row">
        @foreach (var device in Model)
        {
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="/images/Device.svg" alt="IoT Device" class="img-thumbnail">
                    <div class="caption">
                        <h4>Device: @device.Id</h4>
                        <p>Type: @device.Type</p>
                    </div>
                </div>
            </div>
        }
    </div>
}


