@{
    ViewBag.Title = "Monitoring ...";
    Layout = "_Layout";
}

<h2>Monitoring ...</h2>

<div id="Monitor" class="row" v-if="latestReadings">
    <div v-for="reading in latestReadings" class="col-md-3">
        <div class="thumbnail">
            <img src="/images/Device.svg" alt="IoT Device" class="img-thumbnail">
            <div class="caption">
                <h4>Device: {{reading.id}}</h4>
                <p>Type: {{reading.deviceType}}</p>
                <p>DateTime: {{reading.dateTime}}</p>
                <p>Speed: {{reading.speed}}</p>
                <p>Package Tracking Alarm State: {{reading.packageTrackingAlarmState}}</p>
                <p>Total Boards: {{reading.totalBoards}}</p>
                <p>Recipe Count: {{reading.totalRecipeCount}}</p>
            </div>
        </div>
    </div>
</div>

<div class="row" >
    <div class="col-md-6 col-md-offset-3" id="legend">
    </div>
</div>
<div class="row" id="Chars">
    <div class="col-md-6">
        <svg id="Trend_svg" width="480" height="500"></svg>
    </div>
    <div class="col-md-6">
        <svg id="Bar_svg" width="480" height="500"></svg>
    </div>
</div>


